.alert {
	&-primary {
		color: $white;
	}

	&-secondary {
		color: $white;
	}

	&-danger {
		color: $white;
	}

	&-success {
		color: $white;
	}

	&-warning {
		color: $primary-text-color;
	}

	&-info {
		color: $primary-text-color;
	}

	&-light {
		color: $primary-text-color;
	}

	&-dark {
		color: $white;
	}

	&-gray {
		color: $primary-text-color;
	}
}
