// .aside {
// 	position: relative;

// 	&-actions {
// 		display: flex;
// 		font-size: 20px;
// 		left: 100%;
// 		padding-left: 10px;
// 		position: absolute;
// 		text-align: right;
// 		top: 0;

// 		&.fixed {
// 			position: fixed;
// 			top: 40px;
// 		}
// 	}
// }

// // Desktops
// @media (max-width: 1240px) {
// 	.aside {
// 		&-actions {
// 			flex-direction: column;

// 			li {
// 				margin-right: 0;
// 			}
// 		}
// 	}
// }

// @media (max-width: 1120px) {
// 	.aside {
// 		&-actions {
// 			flex-direction: row;
// 			justify-content: flex-end;
// 			left: auto;
// 			position: relative;
// 			padding-bottom: 15px;

// 			li {
// 				margin-right: 20px;
// 			}
// 		}
// 	}
// }

.blog {
	&-thumbnail {
		display: block;
		text-decoration: none;
		overflow: hidden;

		img {
			margin-bottom: 1.4rem;
		}

		figure {
			position: relative;
		}

		.button {
			border: none;
			bottom: 0;
			opacity: 0;
			padding: 8px 14px;
			position: absolute;
			right: 0;
			transform: translateX(100%);
			transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

			i {
				transform: translateX(15px);
				transition: transform 0.6s ease-in-out;
			}
		}

		&:hover {
			.button {
				opacity: 1;
				transform: translateX(0);

				i {
					transform: translateX(0);
				}
			}
		}
	}

	&-card {
		margin-bottom: 4rem;

		&:last-child {
			margin-bottom: 0;
		}

		.blog {
			&-title {
				font-size: 1.9em;
			}

			&-meta {
				margin-bottom: 1rem;
			}
		}

		p {
			margin-bottom: 2rem;
		}
	}

	&-title {
		font-size: 1.25em;
		line-height: 1.4;
	}

	&-meta {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			&:after {
				color: $black34;
				padding: 0 0.3rem;
				content: "/";
			}

			&:last-child {
				&:after {
					content: " ";
				}
			}
		}
	}

	&-widget {
		margin-bottom: 1.5rem;

		.title {
			border-bottom: 1px solid $border-color;
			line-height: 1.2;
			margin-bottom: 0.8rem;
			padding-bottom: 0.8rem;
		}

		ul {
			li {
				margin-bottom: 0.3rem;
			}

			a {
				text-decoration: underline;
			}
		}
	}
}
