.blog {
	&-thumbnail {
		display: block;
		overflow: hidden;
		text-decoration: none;
		transition: all 0.05s ease-in-out;

		img {
			margin-bottom: 1rem;
		}

		figure {
			position: relative;
		}

		.button {
			background-color: $primary-color;
			border: none;
			bottom: 12px;
			color: $white;
			opacity: 0;
			padding: 8px 14px;
			position: absolute;
			right: 12px;
			transform: translateX(100%);
			transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

			i {
				transform: translateX(-4px);
				transition: all 0.4s ease-in;
				transition-delay: 0.2s;
			}
		}

		&:hover {
			text-decoration-color: $primary-color;
			text-decoration-thickness: 2px;
			text-underline-offset: 2px;

			.button {
				opacity: 1;
				transform: translateX(0);

				i {
					transform: translateX(3px);
				}
			}
		}
	}

	&-card {
		margin-bottom: 4rem;

		&:last-child {
			margin-bottom: 0;
		}

		.blog {
			&-title {
				font-size: 1.9em;
			}

			&-meta {
				margin-bottom: 1rem;
			}
		}

		p {
			margin-bottom: 2rem;
		}
	}

	&-title {
		font-size: 1.25em;
		line-height: 1.4;
	}

	&-date {
		color: $black34;
	}

	&-meta {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			&:after {
				color: $black34;
				padding: 0 0.3rem;
				content: "/";
			}

			&:last-child {
				&:after {
					content: " ";
				}
			}
		}
	}

	&-widget {
		flex-direction: column;

		.title {
			border-bottom: 1px solid $border-color;
			line-height: 1.2;
			margin-bottom: 0.8rem;
			padding-bottom: 0.8rem;
		}
	}

	&-tags {
		align-items: center;
		display: flex;

		li {
			&:after {
				content: ",";
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}

		.title {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
