button,
.button {
	// Small font improvements fot this theme
	font-family: $site-secondary-font-family;
	font-weight: 300;
	font-size: 0.9375em;
	line-height: 1.2;

	&.toggle {
		font-family: $site-primary-font-family;
	}

	i {
		&.icon-arrow-right {
			margin-left: 8px;
		}
	}
}
