.carousel {
	&-hero {
		.item {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 520px;
		}

		.content--short {
			align-items: flex-start;
			filter: drop-shadow(0 0 60px white) drop-shadow(-60px -20px 50px white) drop-shadow(60px 20px 50px white) drop-shadow(0 0 60px white);
			display: flex;
			flex-direction: column;
			padding-bottom: 4rem;
			padding-top: 4rem;
			position: relative;
		}

		* {
			order: 2;
		}

		.headline {
			font-size: 4em;
			line-height: 1.1;
			font-weight: 500;
		}

		.category {
			color: $secondary-color;
			font-size: 1.3em;
			font-weight: normal;
			margin-bottom: 0.8rem;
			order: 1;
			text-transform: uppercase;
			word-spacing: 100vw;
		}
	}

	&-products {
		.owl-nav {
			top: 38% !important;
		}
	}

	&-product {
		a {
			display: block;
			outline: none;
		}
	}

	&-preview {
		background-color: rgba($black15, 0.2);
		height: 100%;
	}
}

// Tablets

@media (max-width: 767px) {
	.carousel {
		&-product {
			.owl-nav {
				top: 45% !important;
			}
		}
	}
}

// Mobiles/Tablets
@media (max-width: 700px) {
	.carousel {
		&-hero {
			.item {
				min-height: auto;
			}

			.headline {
				font-size: 2.5em;
			}

			.container > div {
				padding-bottom: 3.6rem;
				padding-top: 2rem;
			}

			.owl-dots {
				bottom: 10px !important;
			}
		}

		&-products {
			.owl-nav {
				right: -5px !important;
				left: -5px !important;
				top: 28% !important;
			}
		}

		&-product {
			.owl-nav {
				// right: -15px !important;
				// left: -15px !important;
				// top: 45% !important;

				button {
					background-color: $white !important;
					line-height: 1.6 !important;
				}
			}
		}

		.category {
			font-size: 1.1em;
		}
	}
}
