.carousel {
	&-hero {
		.container {
			padding-left: 3rem;
			padding-right: 3rem;
		}

		.content--short {
			background-color: rgba($white, 0.6);
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 620px;
			min-height: 50vh;
			height: 680px;
			padding: 4rem 2rem 6rem 2rem;
			position: relative;

			// &:before {
			// 	background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 35%, rgba(255, 255, 255, 0) 65%);
			// 	bottom: -120px;
			// 	content: " ";
			// 	left: -140px;
			// 	position: absolute;
			// 	right: -140px;
			// 	top: -140px;
			// 	z-index: -1;
			// }
		}

		.hero-picture {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			overflow: hidden;

			img {
				border-radius: 0;
				left: 50%;
				margin: 0;
				max-height: none;
				max-width: 100%;
				min-height: 100%;
				min-width: 100%;
				object-fit: cover;
				position: absolute;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}

		* {
			order: 2;
		}

		// .headline,
		// p {
		// 	text-shadow: 0 5px 10px white;
		// }

		.headline {
			font-size: 3em;
			line-height: 1.2;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}

		p {
			font-weight: 400;
		}

		// .button {
		// 	filter: drop-shadow(-20px 10px 20px white);
		// }

		.category {
			// color: $primary-color;
			font-size: 1.3em;
			font-weight: normal;
			line-height: 1.2;
			margin-bottom: 0.8rem;
			order: 1;
			text-shadow: 0 5px 15px white;
			text-transform: uppercase;
			word-spacing: 100vw;
		}
	}

	&-products {
		.owl-stage {
			display: flex;
		}

		.owl-item {
			padding: 0.5rem;
		}
	}

	&-product {
		a {
			border: 1px solid $cream;
			display: block;
			margin: 1px 0;
			outline: none;
		}
	}

	&-preview {
		height: 100%;
	}
}

// Tablets

@media (max-width: 767px) {
	.carousel {
		&-product {
			.owl-nav {
				top: 45% !important;
			}
		}
	}
}

// Mobiles/Tablets
@media (max-width: 700px) {
	.carousel {
		&-hero {
			.item {
				min-height: auto;
			}

			.headline {
				font-size: 2em;
				line-height: 1.3;
				margin: 1.2rem 0;
			}

			.button {
				margin-bottom: 1.2rem;
			}

			.container > div {
				padding-bottom: 3.6rem;
				padding-top: 2rem;
			}

			.owl-dots {
				bottom: 10px !important;
			}

			.content--short {
				min-height: 340px;

				&:after {
					bottom: -40px;
					left: -40px;
					opacity: 0.8;
					right: -40px;
					top: -40px;
				}
			}
		}

		.category {
			font-size: 1.1em;
		}
	}
}
