footer {
	background-color: $footer-background-color;

	input {
		color: $white;
	}

	h3 {
		font-weight: 400;
		padding-bottom: 0.5em;
	}

	.newsletter {
		position: relative;

		button {
			background-color: transparent;
			border: medium none;
			font-size: 1.3em;
			line-height: normal;
			padding: 0;
			position: absolute;
			right: 12px;
			top: 50%;
			transform: translateY(-50%);

			&:hover {
				background-color: transparent;
				color: $primary-color;
			}
		}
	}

	.list--inline {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		li {
			margin-right: 0.5rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.footer {
	&-top {
		margin-top: $footer-paddings;
		margin-bottom: 3rem;

		li {
			margin-bottom: 0.4rem;
		}
	}

	&-bottom {
		.row {
			align-items: center;
		}
	}

	&-logo {
		text-align: center;

		a {
			display: inline-block;
		}

		img {
			display: block;
			height: 60px;
			width: auto;
		}
	}

	&-copyright {
		font-size: 1em;
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
		text-align: center;

		i {
			transform: translateY(-2px);
		}
	}
}

// Tablets
@media (max-width: 767px) {
	.footer {
		&-quick {
			text-align: center;
		}
	}
}

// Mobiles
@media (max-width: 566px) {
	.footer {
		&-top {
			margin-top: 3rem;
			margin-bottom: 2.2rem;
		}
	}
}
