footer {
	border-top: 1px solid $border-color;

	input {
		border-left: none;
		border-right: none;
		border-top: none;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0.3rem;
	}

	.newsletter {
		position: relative;

		button {
			background-color: transparent;
			border: medium none;
			color: $primary-text-color;
			font-size: 1.3em;
			line-height: 1;
			padding: 0;
			position: absolute;
			right: 0;
			top: 0;

			&:hover {
				background-color: transparent;
				color: $primary-text-color;
			}
		}
	}

	.list--inline {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		li {
			margin-right: 0.5rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.footer {
	&-top {
		margin-top: $footer-paddings;
		margin-bottom: 3rem;

		li {
			margin-bottom: 0.4rem;
		}
	}

	&-bottom {
		.row {
			align-items: center;
		}
	}

	&-logo {
		text-align: center;

		a {
			display: inline-block;
		}

		img {
			display: block;
			height: 60px;
			width: auto;
		}
	}

	&-copyright {
		font-size: 1em;
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
		text-align: center;
	}
}

// Tablets
@media (max-width: 767px) {
	.footer {
		&-quick {
			text-align: center;
		}
	}
}

// Mobiles
@media (max-width: 566px) {
	.footer {
		&-top {
			margin-top: 3rem;
			margin-bottom: 2.2rem;
		}
	}
}
