/* input,
textarea,
select,
small {
	// Small font improvements fot this theme
	line-height: 1.2;
}

input,
textarea,
select {
	// Small font improvements fot this theme
	font-weight: 300;
	font-size: 0.9375em;
}
 */
.form {
	&-search {
		display: inline-block;
		margin: 10px 0;
		max-width: 320px;
		min-width: 180px;
		position: relative;
		width: 100%;

		.input {
			padding-right: 2.2rem;
		}

		button {
			background-color: transparent;
			border: medium none;
			cursor: pointer;
			font-size: 1em;
			line-height: 1;
			padding: 0;
			position: absolute;
			right: 5px;
			top: 50%;
			transform: translateY(-50%);

			&:hover {
				background-color: transparent;
				color: $primary-color;
			}
		}
	}

	&-filters {
		display: flex;
		flex-flow: row wrap;
		grid-gap: 1rem;

		> input {
			flex: 1;
		}

		select {
			min-width: 140px;
		}
	}

	&-newsletter {
		display: flex;

		input {
			width: 100%;
			// margin-right: 1rem;
		}
	}
}

.search {
	&-button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		font-size: 1.3em;
		line-height: 1;
	}
}

// .quantity {
// 	&-widget {
// 		&.smaller {
// 			border-radius: 5px;
// 		}
// 	}
// }

// Mobiles/Tablets
@media (max-width: 867px) {
	.form {
		&-search {
			max-width: 280px;
		}
	}
}

// Mobiles/Tablets
@media (max-width: 767px) {
	.form {
		&-filters {
			flex-direction: column;
		}

		&-search {
			max-width: 280px;
		}
	}
}
