@keyframes fadeInAnimation {
	0% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: translateZ(0);
	}
}

@keyframes fadeOutAnimation {
	0% {
		opacity: 1;
		transform: translateZ(0);
	}
	to {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
}

header {
	background-color: rgba($white, 0.98);
	color: $black00;
	position: relative;
	z-index: 10;

	&:after {
		border-bottom: 1px solid $border-color;
		bottom: 0;
		content: " ";
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		z-index: 0;
	}

	&:before {
		background-color: transparent;
		bottom: 0;
		content: " ";
		left: 0;
		pointer-events: none;
		position: fixed;
		right: 0;
		top: 0;
		transition: background-color 0.2s ease-in-out;
		z-index: 1;
	}

	&.sticky-yes {
		animation: 0.5s ease-in-out 0s normal none 1 running fadeInAnimation;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	&.fade-out {
		animation: fadeOutAnimation 0.2s linear 1 normal forwards;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.link {
		background-color: transparent;
		border: none;
		font-size: 1em;
		margin: 0;
		padding: 0;
		position: relative;

		&:after {
			display: none;
		}
	}

	.badge {
		border-radius: 50%;
		bottom: -6px;
		font-size: 0.8em;
		height: 20px;
		line-height: 20px;
		margin: 0;
		padding: 0;
		position: absolute;
		right: -12px;
		text-align: center;
		width: 20px;
	}

	.form {
		&-search {
			input {
				border-left: none;
				border-right: none;
				border-top: none;
				padding-left: 0;
				padding-right: 2.5rem;
			}

			button {
				right: 0;
			}
		}
	}
}

.header {
	&-top {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 1rem 0;

		i {
			font-size: 1.4em;
		}

		.dropdown-menu {
			min-width: 320px;
			z-index: 10;

			&:before {
				background-color: $white;
				border: 1px solid $input-border-color;
				bottom: 100%;
				content: " ";
				height: 12px;
				position: absolute;
				right: 8px;
				transform: translateY(50%) rotate(45deg);
				width: 12px;
				z-index: -1;
			}
		}
	}

	&-list {
		display: flex;

		> li {
			margin-left: 1.8rem;
		}
	}
}

.menu {
	&-mobile {
		display: none;
	}

	&-main {
		i {
			line-height: 1;
			font-size: 17px;
		}

		a,
		button {
			align-items: center;
			background-color: transparent;
			border: medium none;
			cursor: pointer;
			display: flex;
			font-size: 1em;
			line-height: inherit;
			margin: 0;
			outline: none;
			padding: 0;
			text-transform: inherit;
			width: 100%;

			&:hover {
				color: $secondary-color;
				text-decoration: underline;
			}
		}
	}

	&-shell {
		position: relative;
	}

	&-show {
		overflow: hidden;
		padding-right: 6px;

		header {
			padding-right: 6px;

			&:before {
				background-color: rgba(0, 0, 0, 0.4);
				pointer-events: initial;
			}

			nav {
				transform: translateX(0);
			}
		}
	}
}

.close-menu {
	cursor: pointer;
	display: none;
	left: 1.5rem;
	position: absolute;
	top: 1.2rem;

	&:hover {
		color: $secondary-color;
	}
}

.show {
	> .menu-level-three {
		pointer-events: unset;
		opacity: 1 !important;
		z-index: 2;
	}

	> .toggle {
		color: $secondary-color;
	}
}

// Tablets and Desktops
@media (min-width: 768px) {
	.sticky {
		&-yes {
			nav {
				background-color: $white;
				border-left: 1px solid $border-color;
				bottom: 0;
				flex-direction: column;
				padding: 3.6rem 0 0;
				position: fixed;
				right: 0;
				top: 0;
				transform: translateX(100%);
				transition: transform 0.4s $transition-effect;
				width: 460px;
				z-index: 10;

				.categories {
					min-height: auto !important;

					> li {
						border-top: 1px solid $border-color;

						&:first-child {
							border: none;
						}
					}
				}

				.toggle {
					justify-content: space-between;
					padding: 0.6rem 1.5rem;

					&:hover {
						text-decoration: none;
					}

					&:after {
						content: "\e93a";
						font-family: "Linearicons";
					}
				}
			}

			.menu {
				&-mobile {
					display: inline-block;
				}

				&-main {
					li {
						[class^="menu-level-"] {
							display: none;
						}

						&.show {
							> [class^="menu-level-"] {
								display: block;
							}
						}

						.toggle {
							padding: 0.8rem 1.5rem;
							text-transform: uppercase;
						}
					}

					& > li {
						border-bottom: 1px solid $border-color;
						text-transform: none;

						> a,
						> button {
							padding: 0.8rem 1.5rem;
							text-transform: uppercase;
						}

						&:first-child {
							> .toggle {
								display: none;
							}

							.menu-level-two {
								display: block;
								padding: 0;
							}
						}

						&:last-child {
							border: none;
						}
					}

					.close-menu {
						display: block;
					}
				}

				&-level {
					&-two {
						padding: 0 1.5rem 1rem 1.5rem;

						a,
						button {
							padding: 0.4rem 0;
						}
					}

					&-three {
						padding: 0 1.5rem 1rem 1.5rem;
						line-height: 1.8;
					}
				}
			}
		}

		&-no {
			.menu {
				&-main {
					background-color: $white;
					display: flex;
					position: relative;

					.categories {
						border-right: 1px solid $border-color;
						max-width: 260px;

						> li {
							border-bottom: 1px solid $border-color;

							.toggle {
								padding-top: 0.8rem;
								padding-bottom: 0.8rem;
							}

							&:last-child {
								border: none;
							}
						}

						.show {
							color: $secondary-color;

							.toggle {
								&:after {
									width: 4px;
								}
							}
						}

						.toggle {
							position: relative;

							&:after {
								background-color: $secondary-color;
								bottom: 0;
								content: " ";
								position: absolute;
								right: -1px;
								top: 0;
								transition: width 0.2s ease-in;
								width: 0;
							}

							&:hover {
								text-decoration: none;
							}
						}
					}

					> li {
						position: relative;
						text-transform: uppercase;

						> a,
						> button {
							padding: 0.8rem 1rem;

							&:hover {
								text-decoration: none;
							}
						}

						&:first-child {
							position: static;

							> .toggle {
								padding-left: 0;
							}

							.menu-level-two {
								right: 0;
								padding-top: 0;
								padding-bottom: 0;
								padding-left: 0;

								&:after {
									background-color: $white;
									bottom: 0;
									content: " ";
									left: -50%;
									position: absolute;
									top: 0;
									width: 200vw;
									z-index: -1;
								}
							}
						}

						&:hover {
							.menu-level-two {
								visibility: visible;
								pointer-events: unset;
								transform: translateY(0);
								opacity: 1;
							}
						}
					}

					.menu {
						&-level {
							&-two {
								background-color: $white;
								left: 0;
								min-width: 180px;
								opacity: 0;
								padding: 1rem;
								pointer-events: none;
								position: absolute;
								text-transform: uppercase;
								top: 100%;
								transform: translateY(-40px);
								transition: all 0.2s $transition-effect;
								visibility: hidden;
								z-index: -1;

								a,
								button {
									padding: 0.6rem 0;
								}
							}

							&-three {
								background-color: $white;
								color: initial;
								left: 1rem;
								margin-left: 260px;
								opacity: 0;
								padding: 1.2rem;
								position: absolute;
								right: 1rem;
								text-transform: none;
								top: 0;
								transition: opacity 0.15s ease-in-out;

								a,
								button {
									padding: 0;
								}

								ul {
									display: inline-block;
									line-height: 1.8;
								}
							}
						}
					}
				}
			}
		}
	}
}

// Tablets
@media (max-width: 767px) {
	header {
		.form-search {
			max-width: unset;
			order: 3;
			margin-top: 2rem;
			margin-bottom: 0;

			input {
				border: 1px solid $input-border-color;
				padding-left: 0.8rem;
			}
		}
	}

	nav {
		background-color: $white;
		border-left: 1px solid $border-color;
		bottom: 0;
		flex-direction: column;
		width: 380px;
		padding: 3rem 0 0;
		position: fixed;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		z-index: 10;

		.categories {
			min-height: auto !important;

			> li {
				border-top: 1px solid $border-color;

				&:first-child {
					border: none;
				}
			}
		}

		.toggle {
			justify-content: space-between;

			&:hover {
				text-decoration: none;
			}

			&:after {
				content: "\e93a";
				font-family: "Linearicons";
			}
		}
	}

	.menu {
		&-mobile {
			display: inline-block;
		}

		&-main {
			li {
				[class^="menu-level-"] {
					display: none;
				}

				&.show {
					> [class^="menu-level-"] {
						display: block;
					}
				}

				.toggle {
					padding: 0.8rem 1.5rem;
					text-transform: uppercase;
				}
			}

			& > li {
				border-bottom: 1px solid $border-color;
				text-transform: none;

				> a,
				> button {
					padding: 0.8rem 1.5rem;
					text-transform: uppercase;
				}

				&:first-child {
					> .toggle {
						display: none;
					}

					.menu-level-two {
						display: block;
						padding: 0;
					}
				}

				&:last-child {
					border: none;
				}
			}

			.close-menu {
				display: block;
			}
		}

		&-level {
			&-two {
				padding: 0 1.5rem 1rem 1.5rem;

				a,
				button {
					padding: 0.4rem 0;
				}
			}

			&-three {
				padding: 0 1.5rem 1rem 1.5rem;
				line-height: 1.8;
			}
		}

		&-show {
			padding: 0;

			header {
				padding: 0;
			}
		}
	}

	/* .menu {
		&-mobile {
			display: inline-block;
		}

		&-main {
			li {
				[class^="menu-level-"] {
					display: none;
				}

				&.show {
					> [class^="menu-level-"] {
						display: block;
					}
				}
			}

			& > li {
				border-bottom: 1px solid $border-color;

				&:first-child {
					> .toggle {
						display: none;
					}

					.toggle {
						padding: 0.6rem 1rem;
					}

					.menu-level-two {
						display: block;
						padding: 0;
					}
				}

				&:last-child {
					border: none;
				}
			}

			.close-menu {
				display: block;
				left: 1rem;
				position: absolute;
				top: 1rem;
			}
		}

		&-level {
			&-two {
				padding: 0 1rem 0.2rem 1rem;
			}

			&-three {
				padding-left: 1.5rem;
				line-height: 1.5;
			}
		}

		&-show {
			overflow: hidden;

			header {
				&:before {
					background-color: rgba(0, 0, 0, 0.4);
				}
			}

			nav {
				transform: translateX(0);
			}
		}
	} */
}

// Mobiles/Tablets
@media (max-width: 700px) {
	// nav,
	// .form-search {
	// 	display: none;
	// }
}

// Mobiles
@media (max-width: 575px) {
	header {
		.dropdown-menu {
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
			width: 98vw;

			&:before {
				display: none;
			}
		}

		&.sticky-yes {
			.form-search {
				display: none;
			}
		}
	}

	nav {
		width: 300px;
	}
}
