.product {
	&-image {
		margin-bottom: 1.5rem;
		position: relative;

		> a {
			display: block;
			outline: none;
		}

		&:hover {
			li {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}

	&-content {
		a {
			text-decoration: none;
		}
	}

	&-price {
		color: $label-color;
		font-size: 1.16em;
	}

	&-title {
		font-size: 1.05em;
		margin-bottom: 0.5rem;
	}

	&-actions {
		left: 0;
		position: absolute;
		right: 0;
		top: 40%;

		li {
			transform: translateY(20px);
			transition: all 0.26s cubic-bezier(0.645, 0.045, 0.355, 1);
			opacity: 0;

			&:nth-child(1) {
				transition-delay: 0s;
			}

			&:nth-child(2) {
				transition-delay: 0.1s;
			}

			&:nth-child(3) {
				transition-delay: 0.2s;
			}
		}

		a {
			background-color: $white;
			border-radius: 50%;
			display: inline-block;
			font-size: 1.1em;
			height: 45px;
			line-height: 43px;
			outline: none;
			text-align: center;
			width: 45px;
		}
	}
}

// Mobiles/Tablets
@media (max-width: 800px) {
	.product {
		&-item {
			a {
				// font-size: 0.9em;
				// width: 35px;
				// height: 35px;
				outline: none;
			}
		}

		&-title {
			font-size: 1em;
		}

		&-actions {
			left: auto;
			position: relative;
			right: auto;
			top: auto;

			li {
				transform: none;
				opacity: 1;
			}

			a {
				background-color: $primary-color;
				color: $white;
				width: 35px;
				height: 35px;
				line-height: 2;
				font-size: 0.9em;
			}
		}
	}
}
