.shop {
	&-widget {
		margin-bottom: 1.5rem;

		.title {
			border-bottom: 1px solid $border-color;
			line-height: 1.2;
			margin-bottom: 0.8rem;
			padding-bottom: 0.8rem;
		}
	}

	&-list {
		> [class^="col-"] {
			margin-top: 1rem;
		}
	}

	&-tags {
		align-items: center;
		display: flex;

		.title {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&-filters {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
	}
}

.filters-widget {
	margin-top: -1.2rem;

	.title {
		margin-bottom: 0.4rem;
	}

	ul {
		margin: 0;
	}

	i {
		cursor: pointer;
		line-height: 1;
		margin-left: 0.2rem;

		&:hover {
			color: $secondary-color;
		}
	}

	.badge {
		align-items: center;
		cursor: auto;
		display: flex;
		padding: 4px 6px 4px 12px;

		&:hover {
			color: initial;
		}
	}
}

// Mobiles/Tablets
@media (max-width: 767px) {
	.shop {
		&-filters {
			flex-direction: column;
			justify-content: space-between;
		}
	}
}
