.shop {
	&-widget {
		margin-bottom: 1.5rem;

		.title {
			border-bottom: 1px solid $border-color;
			line-height: 1.2;
			margin-bottom: 0.8rem;
			padding-bottom: 0.8rem;
		}
	}

	&-list {
		> [class^="col-"] {
			margin-top: 1rem;
		}
	}

	&-tags {
		align-items: center;
		display: flex;

		.title {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&-filters {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
	}
}

.shopping {
	&-list {
		border: 1px solid $input-border-color;
		list-style: none;
		margin: 0 0 20px 0;
		padding: 0;

		> li {
			align-items: center;
			border-bottom: 1px solid $input-border-color;
			display: flex;
			flex-flow: row wrap;
			padding: 1rem 1rem 1rem 50px;
			position: relative;

			&:last-child {
				border: none;
			}
		}

		.product {
			&-name {
				display: inline-block;
				font-size: 1.05em;
				font-weight: 400;
				margin: 0.3rem 0.6rem 0.3rem 0;
				text-decoration: none;
				text-transform: uppercase;
				vertical-align: middle;
			}

			&-description {
				margin-top: 0.5rem;
			}
		}

		.badge {
			font-size: 0.8em;
		}

		.list {
			margin-top: 0.8rem;
			margin-bottom: 0.8rem;
		}

		.button--icon {
			font-size: 24px;
		}

		.quantity-widget {
			max-width: 160px;
		}

		[class^="shopping-"] {
			margin-left: 1rem;
			margin-right: 1rem;

			&:first-child,
			&:last-child {
				margin: 0;
			}
		}

		.shopping-total {
			margin-left: 2rem;
			margin-right: 2rem;
			transform: translateY(2px);
		}

		.remove-product {
			left: 10px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&-product {
		flex-basis: 380px;
		flex: 1;
		min-width: 280px;
	}

	&-actions {
		align-items: center;
		display: flex;
		flex-direction: row;
		grid-gap: 1rem;
	}

	&-quantity {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	&-image {
		max-width: 160px;

		img {
			display: block;
			width: 100%;
		}
	}
}

.filters-widget {
	margin-top: -1.2rem;

	.title {
		margin-bottom: 0.4rem;
	}

	ul {
		margin: 0;
	}

	i {
		cursor: pointer;
		line-height: 1;
		margin-left: 0.2rem;

		&:hover {
			color: $secondary-color;
		}
	}

	.badge {
		align-items: center;
		cursor: auto;
		display: flex;
		padding: 4px 6px 4px 12px;

		&:hover {
			color: initial;
		}
	}
}

.total-widget {
	.list {
		margin-bottom: 1rem;

		li {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $border-color;
			padding: 0.4rem;
		}
	}

	.button {
		flex: 1;
		white-space: nowrap;
	}
}

// Mobiles/Tablets
@media (max-width: 767px) {
	.shop {
		&-filters {
			flex-direction: column;
			justify-content: space-between;
		}
	}
}

// Mobiles
@media (max-width: 467px) {
	.shopping {
		&-list {
			> li {
				padding-left: 60px;
			}

			[class^="shopping-"] {
				margin-left: 0;
				margin-right: 0;
				flex-basis: 100%;

				&:first-child,
				&:last-child {
					margin: 0;
				}
			}

			.shopping-total {
				margin-left: 0;
				margin-right: 1rem;
			}

			.shopping-total,
			.shopping-actions {
				flex-basis: unset;
			}
		}

		&-product {
			flex-basis: unset;
			margin-top: 1rem;
			min-width: auto;
		}
	}
}
