// body {
// 	padding-top: 152px;
// }

// section {
// 	display: block;
// 	padding: 40px 0;
// 	position: relative;

// 	& + section:not([class]) {
// 		padding-top: 0;
// 	}
// }

.section {
	&--dark {
		background-color: $black8;
	}

	&--gray {
		background-color: $secondary-site-background;
	}

	&--hero {
		padding: 0;
		position: relative;

		.container {
			position: relative;
			z-index: 1;
		}
	}

	&--blog {
		.section-title {
			text-align: center;
		}
	}

	&-title {
		font-size: $section-title-size;
		line-height: $section-title-lineheight;
		margin-bottom: $section-title-margin;
		position: relative;

		&:after {
			background-color: $secondary-color;
			bottom: -12px;
			content: " ";
			height: 4px;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			width: 70px;
		}
	}

	&--featuted-product {
		.row {
			align-items: center;
			margin-bottom: 5rem;

			&:hover {
				img {
					transform: scale(1.05);
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:nth-child(even) {
				.col-6 {
					&:first-child {
						order: 1;
					}
				}
			}
		}

		.category {
			color: $black34;
			display: inline-block;
			margin-bottom: 0.6em;
			text-transform: uppercase;
		}

		.featured-image {
			display: block;
		}

		a {
			text-decoration: none;
		}

		img {
			transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		}

		.button {
			margin-top: 2rem;
		}
	}

	// &--overflow {
	// 	overflow: hidden;
	// }

	// &--video {
	// 	padding-bottom: 18vh;
	// 	padding-top: 18vh;
	// 	text-align: center;
	// }
}

.icons-wrapper {
	i {
		display: inline-block;
		font-style: normal;
		margin: 1rem;
		text-align: center;

		&:before {
			display: block;
			font-size: 25px;
			margin-bottom: 8px;
		}
	}
}

// .divider {
// 	&-white {
// 		background-color: rgba(255, 255, 255, 0.1);
// 	}
// }

// Large screens
@media (min-width: 1600px) {
}

// Desktops
@media (max-width: 1000px) {
}

// Desktops
@media (max-width: 1200px) {
}

// Laptops
@media (max-width: 991px) {
}

// Tablets
@media (max-width: 767px) {
	.section {
		&--featuted-product {
			.row {
				display: block;
				margin-bottom: 3rem;
				text-align: center;
			}
		}
	}
}

// Mobiles
@media (max-width: 659px) {
	.section {
		&-title {
			font-size: 1.8em;
			margin-bottom: 2rem;
		}
	}
}

// Mobiles
@media (max-width: 575px) {
}
