// VARIALBLES
$primary-color: #000000;
$secondary-color: #dcb14a;

// Text colors
$primary-text-color: #1d1d1d;
$secondary-text-color: #dcb14a;

// Structure colors
$selection-color: #e9c162;
$border-color: #cecece;

// Typography margins
$headings-margin-bottom: 1.1rem;
$paragraphs-margin-bottom: 0.8rem;
$lists-margin-bottom: 1.2rem;
$site-font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$site-font-size: 16px;
$site-font-weight: 400;
$site-line-height: 1.4;

// Structure
$container-max-width: 1180px;
$container-paddings: 1.2rem;
$container-small: 420px;
$container-short: 620px;
$container-medium: 880px;
$container-larger: 1220px;

$section-paddings: 5rem;
$section-title-size: 2.25em;
$section-title-margin: 4rem;
$section-title-lineheight: 1.6;
$footer-paddings: 4.2rem;

$content-small: 420px;
$content-short: 520px;
$content-medium: 880px;
$content-margin-bottom: 1.6rem;

// Buttons
$button-padding: 8px 26px;

// Background colors
$primary-site-background: #ffffff;
$secondary-site-background: #f4f5f7;
$tertiary-site-background: #ececec;

// Social colors
$facebook-color: #075ca2;
$linkedin-color: #0d7dc0;
$twitter-color: #16abe6;

// Alerts colors
$alert-color: #ff6200;
$error-color: #c51c1c;
$success-color: #269c36;
$inform-color: #7680cc;

// Forms
$input-paddings: 0.8rem;
$input-border-color: #e8e8e8;
$label-color: #666666;
// $input-focus-border-color: #79bdf1;
$input-focus-border-color: #dcb14a;

// General colors
$transparent: transparent;
$cream: #ececec;
$white: #ffffff;
$indigo: #525199;
$sky: #9fcaea;
$fuchsia: #ab0066;
$lime: #d0d93c;
$leaf: #349651;
$orange: #ff6200;

// Shades of black
$black8: #f0f0f0;
$black15: #e6e6e6;
$black34: #9c9c9c;
$black54: #686868;
$black80: #1b1b1b;
$black00: #000000;
