html {
	height: 100%;
}

body,
html {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: $primary-site-background;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
	padding-top: 98px;

	&::-webkit-scrollbar {
		width: 5px;

		&-track {
			background-color: $black8;
		}

		&-thumb {
			background-color: $primary-color;
			border-radius: 8px;
			padding-right: 3px;
		}
	}

	* {
		&::selection {
			background-color: $selection-color;
			color: $black00;
		}
	}

	&:after {
		background-color: rgba(0, 0, 0, 0.6);
		bottom: 0;
		content: " ";
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		right: 0;
		top: 0;
		transition: opacity 0.2s ease-in-out;
	}
}

main {
	flex: 1;
}

section {
	display: block;
	padding: 40px 0;
	position: relative;

	& + section:not([class]) {
		padding-top: 0;
	}
}

.section {
	&--dark {
		background-color: $black8;
	}

	&--gray {
		&:before {
			background-color: $secondary-site-background;
			bottom: 0;
			content: " ";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
		}
	}

	&--hero {
		padding: 0;
		position: relative;

		&:before {
			background-color: rgba(0, 93, 170, 0.4);
			bottom: 0;
			content: " ";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		.container {
			position: relative;
			z-index: 1;
		}
	}

	// &--newsletter {
	// 	.headline-section {
	// 		margin-bottom: 10px;
	// 		text-transform: uppercase;
	// 		font-size: 2em;
	// 		font-weight: 700;
	// 	}
	// }

	// &--form {
	// 	display: none;

	// 	&.show-form {
	// 		display: block;
	// 	}
	// }

	&--overflow {
		overflow: hidden;
	}

	&--video {
		padding-bottom: 18vh;
		padding-top: 18vh;
		text-align: center;
	}

	// &--contact {
	// 	.textarea {
	// 		min-height: unset;
	// 	}
	// }
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1180px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;

	&--small {
		max-width: 420px;
	}

	&--short {
		max-width: 620px;
	}

	&--medium {
		max-width: 880px;
	}

	&--larger {
		max-width: 1220px;
	}
}

.content {
	&-group {
		margin-bottom: 1.6rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&--small {
		max-width: 420px;
	}

	&--short {
		max-width: 520px;
	}

	&--medium {
		max-width: 880px;
	}
}

.divider {
	&-white {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.pagination {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;
	margin: 20px auto;
	padding: 0;

	.link {
		display: inline-block;
		font-weight: 600;
		line-height: 2;
		min-width: 22px;
		text-align: center;
		text-decoration: none;

		&:hover {
			border-color: transparent;
			// color: $blue54;
			text-decoration: none;
		}
	}

	li {
		position: relative;
		margin: 0 10px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:after {
			background-color: transparent;
			bottom: 0;
			content: " ";
			height: 3px;
			left: 0;
			position: absolute;
			right: 0;
		}
	}

	.active {
		// color: $blue54;

		&:after {
			background-color: $primary-color;
		}
	}

	.button {
		margin: 0;
	}
}

// Large screens
@media (min-width: 1600px) {
}

// Desktops
@media (max-width: 1000px) {
}

// Desktops
@media (max-width: 1200px) {
}

// Laptops
@media (max-width: 991px) {
}

// Tablets
@media (max-width: 767px) {
}

// Mobiles
@media (max-width: 659px) {
}

// Mobiles
@media (max-width: 575px) {
}
