// VARIALBLES
$primary-color: #000000;
$secondary-color: #dcb14a;
$tertiary-color: #767676;
$selection-color: #e9c162;

$site-font: "Roboto";

// Text colors
$primary-text-color: #282828;
$secondary-text-color: #484848;
$tertiary-text-color: #1b1b1b;

// Typography margins
$headings-margin-bottom: 1rem;
$paragraphs-margin-bottom: 1rem;

// Background colors
$primary-site-background: #ffffff;
$secondary-site-background: #f9f9f9;
$tertiary-site-background: #ececec;

// Social colors
$facebook-color: #075ca2;
$linkedin-color: #0d7dc0;
$twitter-color: #16abe6;

// Alerts colors
$alert-color: #ff6200;
$error-color: #c51c1c;
$success-color: #269c36;
$inform-color: #7680cc;

// General colors
$transparent: transparent;
$cream: #ececec;
$white: #ffffff;
$indigo: #525199;
$sky: #9fcaea;
$fuchsia: #ab0066;
$lime: #d0d93c;
$leaf: #349651;
$orange: #ff6200;

// Shades of black
$black8: #f0f0f0;
$black15: #e6e6e6;
$black34: #b8b8b8;
$black54: #282828;
$black80: #1b1b1b;
$black00: #000000;
