.badge {
	background-color: $badge-primary-color;
	border-radius: $badge-border-radius;
	color: $white;
	display: inline-block;
	font-size: 0.875em;
	line-height: 1.4;
	padding: 4px 15px;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	&-primary {
		background-color: $badge-primary-color;
	}
	&-secondary {
		background-color: $badge-secondary-color;
	}
	&-danger {
		background-color: $badge-danger-color;
	}
	&-success {
		background-color: $badge-success-color;
	}
	&-warning {
		background-color: $badge-warning-color;
	}
	&-info {
		background-color: $badge-info-color;
	}
	&-light {
		background-color: $badge-light-color;
		color: $primary-text-color;
	}
	&-dark {
		background-color: $badge-dark-color;
	}
	&-gray {
		background-color: $badge-gray-color;
		color: $primary-color;
	}
}
