.breadcrumbs {
	display: block;
	list-style: none;
	margin: 0 0 1.5rem 0;
	padding: 0;

	span {
		color: $black34;
	}

	> li {
		display: inline-block;

		&:after {
			content: "/";
			font-size: 0.9em;
			margin: 0 2px 0 7px;
		}

		&:last-child {
			&:after {
				content: " ";
				display: none;
			}
		}
	}
}
