button {
	background-color: transparent;
	border: medium none;
	color: inherit;

	&[disabled="disabled"],
	&:disabled {
		cursor: not-allowed;
		opacity: 0.4;
		user-select: none;
	}
}

button,
.button {
	align-items: center;
	background-color: transparent;
	border: 1px solid $primary-color;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	font-family: $site-font-family;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: $button-padding;
	position: relative;
	text-decoration: none;
	transition: all 0.12s ease-in-out;

	&:focus {
		outline: medium none;
	}

	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
		color: $white;
		text-decoration: none;
	}

	i {
		// font-size: 0.8em;

		&.icon-arrow-right {
			margin-left: 8px;
		}
	}

	img {
		display: inline-block;
		height: 1.2em;
		width: auto;
	}
}

.button {
	border-color: $secondary-color;
	color: $secondary-color;
	justify-content: center;
	text-align: center;
	// Small font improvements
	font-family: $site-second-font-family;
	font-size: 0.96em;
	line-height: 1.2;

	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
		color: $white;
	}

	// &--medium {
	// 	font-size: 0.95em;
	// 	line-height: normal;
	// 	padding: 0.7rem 1rem;
	// }

	&--small {
		font-size: 14px;
		line-height: 1.2;
		// padding: 0.5rem 1rem;
		padding-top: 10px;
		padding-bottom: 10px;

		i {
			font-size: 16px;
		}
	}

	&--full,
	&--fluid {
		width: 100%;
	}

	&--gray {
		background-color: $cream;

		&:hover {
			background-color: darken($cream, 8%);
			color: $black80;
		}
	}

	&--primary {
		background-color: $primary-button-color;
		border-color: $primary-button-border-color;
		color: $white;

		&:hover {
			background-color: $primary-button-color-hover;
			border-color: $primary-button-border-color-hover;
			color: $white;
		}
	}

	&--secondary {
		background-color: $secondary-button-color;
		border-color: $secondary-button-border-color;
		color: $black80;

		&:hover {
			background-color: $secondary-button-color-hover;
			border-color: $secondary-button-border-color-hover;
		}
	}

	&--transparent {
		background-color: transparent;
	}

	&--disabled {
		cursor: not-allowed;
		opacity: 0.4;
		pointer-events: none;
		user-select: none;
	}

	&--icon {
		background-color: transparent;
		border: none;
		outline: none;
		padding: 6px;

		&:hover {
			background-color: transparent;
			color: $primary-color;
			text-decoration: none;
		}

		i {
			display: block;
			font-size: inherit;
		}
	}

	&--close {
		font-size: 24px;
		line-height: 1;
		padding: 0.6rem;
	}

	&--facebook,
	&--google,
	&--linkedin {
		justify-content: left;
		text-align: left;
		&:hover {
			border-color: $border-color;
			color: $white;
		}
	}

	&--facebook {
		&:hover {
			background-color: $facebook-color;
		}
	}

	&--google {
		&:hover {
			background-color: $google-color;
		}
	}

	&--linkedin {
		&:hover {
			background-color: $linkedin-color;
		}
	}

	&-group {
		display: flex;
		flex-flow: row wrap;
		grid-gap: 1rem;
	}
}
