.button {
	-webkit-font-smoothing: antialiased;
	align-items: center;
	background-color: $primary-color;
	border: 1px solid $primary-color;
	color: $white;
	cursor: pointer;
	display: inline-flex;
	font-weight: 400;
	justify-content: center;
	padding: $button-padding;
	position: relative;
	text-align: center;
	text-decoration: none;
	// text-transform: uppercase;
	transition: all 0.18s ease-in-out;

	&:focus {
		outline: medium none;
	}

	&:hover {
		background-color: $secondary-color;
		border-color: $secondary-color;
		color: $primary-color;
		text-decoration: none;
	}

	i {
		font-size: 0.8em;

		&.icon-arrow-right {
			margin-left: 8px;
		}
	}

	// &.small {
	// 	font-size: 14px;
	// 	line-height: 10px;
	// 	padding: 6px;
	// }

	// &.medium {
	// 	font-size: 14px;
	// 	line-height: 12px;
	// 	padding: 8px;
	// }

	&--full {
		width: 100%;
	}

	&--gray {
		background-color: $cream;
		color: $primary-text-color;

		&:hover {
			background-color: darken($cream, 8%);
			color: $black80;
		}
	}

	&--secondary {
		background-color: $white;
		color: $primary-text-color;

		&:hover {
			background-color: $primary-color;
			border-color: $primary-color;
			color: $white;
		}
	}

	&--transparent {
		background-color: transparent;
	}

	// &--facebook {
	// 	background-color: $facebook-color;
	// 	border-color: $facebook-color;
	// 	color: $white;
	// 	width: 100%;

	// 	&:hover {
	// 		background-color: darken($facebook-color, 10%);
	// 		border-color: darken($facebook-color, 10%);
	// 		color: $white;
	// 	}
	// }

	// &--twitter {
	// 	background-color: $twitter-color;
	// 	border-color: $twitter-color;
	// 	color: $white;
	// 	width: 100%;

	// 	&:hover {
	// 		background-color: darken($twitter-color, 10%);
	// 		border-color: darken($twitter-color, 10%);
	// 		color: $white;
	// 	}
	// }

	// &--linkedin {
	// 	background-color: $linkedin-color;
	// 	border-color: $linkedin-color;
	// 	color: $white;
	// 	width: 100%;

	// 	&:hover {
	// 		background-color: darken($linkedin-color, 10%);
	// 		border-color: darken($linkedin-color, 10%);
	// 		color: $white;
	// 	}
	// }

	&-group {
		.button {
			margin: 22px 11px;
		}
	}
}
