button {
	&[disabled="disabled"],
	&:disabled {
		cursor: not-allowed;
		opacity: 0.4;
		user-select: none;
	}
}

button,
.button {
	align-items: center;
	background-color: transparent;
	border-radius: $button-border-radius;
	border: 1px solid $secondary-color;
	color: $secondary-color;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	font-size: inherit;
	font-weight: $button-font-weight;
	line-height: $button-line-height;
	padding: $button-padding;
	position: relative;
	text-decoration: none;
	text-transform: inherit;
	transition: all 0.12s ease-in-out;

	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
		color: $white;
		text-decoration: none;
	}

	&:focus {
		outline: medium none;
	}
}

.button {
	&--medium {
		font-size: 0.95em;
		padding-top: 10px;
		padding-bottom: 10px;

		i {
			font-size: 1.45em;
		}
	}

	&--small {
		font-size: 0.88em;
		padding-top: 8px;
		padding-bottom: 8px;

		i {
			font-size: 1.45em;
		}
	}

	&--full,
	&--fluid {
		width: 100%;
	}

	&--primary {
		background-color: $primary-button-color;
		border-color: $primary-button-border-color;
		color: $white;

		&:hover {
			background-color: $primary-button-color-hover;
			border-color: $primary-button-border-color-hover;
			color: $white;
		}
	}

	&--secondary {
		background-color: $secondary-button-color;
		border-color: $secondary-button-border-color;
		color: $black80;

		&:hover {
			background-color: $secondary-button-color-hover;
			border-color: $secondary-button-border-color-hover;
		}
	}

	&--gray {
		background-color: $cream;

		&:hover {
			background-color: darken($cream, 8%);
			color: $black80;
		}
	}

	&--transparent {
		background-color: transparent;
	}

	&--disabled {
		cursor: not-allowed;
		opacity: 0.4;
		pointer-events: none;
		user-select: none;
	}

	&--icon {
		background-color: transparent;
		border: none;
		outline: none;
		padding: 6px;

		&:hover {
			background-color: transparent;
			color: $primary-color;
			text-decoration: none;
		}

		i {
			display: block;
			font-size: inherit;
		}
	}

	&--close {
		font-size: 24px;
		line-height: 1;
		padding: 0.6rem;
	}

	&--facebook {
		background-color: $facebook-color;
		border-color: $facebook-color;
		color: $white;

		&:hover {
			background-color: darken($facebook-color, 5%);
		}
	}

	&--google {
		background-color: $google-color;
		border-color: $google-color;
		color: $white;

		&:hover {
			background-color: $google-color;
		}
	}

	&--linkedin {
		background-color: $linkedin-color;
		border-color: $linkedin-color;
		color: $white;

		&:hover {
			background-color: $linkedin-color;
		}
	}

	&-group {
		display: flex;
		flex-flow: row wrap;
		grid-gap: 1rem;
	}
}
