@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");

@font-face {
	font-family: "icons";
	src: url("https://cdn.shop-factory.eu/helendo/1.0/fonts/icons.ttf") format("truetype"), url("https://cdn.shop-factory.eu/helendo/1.0/fonts/icons.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"],
[class*="_icon"],
[class*="-icon"] {
	display: inline-block;
	vertical-align: middle;

	&:before,
	&:after {
		display: block;
		font-family: "icons";
		font-style: normal;
		font-size: inherit;
		font-variant: normal;
		font-weight: normal;
		text-transform: none;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.emphasis {
		font-size: 2.4em;
	}

	&.link {
		&:before {
			margin-right: 8px;
		}

		&:after {
			margin-left: 8px;
		}
	}
}

.icon-spinner:before {
	content: "\e951";
}
.icon-loading:before {
	content: "\e951";
}
.icon-loading-wheel:before {
	content: "\e951";
}
.icon-busy:before {
	content: "\e951";
}
.icon-wait:before {
	content: "\e951";
}
.icon-spinner1:before {
	content: "\e952";
}
.icon-loading1:before {
	content: "\e952";
}
.icon-loading-wheel1:before {
	content: "\e952";
}
.icon-busy1:before {
	content: "\e952";
}
.icon-wait1:before {
	content: "\e952";
}
.icon-loading2:before {
	content: "\e92d";
}
.icon-video-circle:before {
	content: "\e950";
}
.icon-user:before {
	content: "\e91f";
}
.icon-heart:before {
	content: "\e90d";
}
.icon-menu:before {
	content: "\e914";
}
.icon-at-sign:before {
	content: "\e924";
}
.icon-copyright:before {
	content: "\e925";
}
.icon-notification-circle:before {
	content: "\e932";
}
.icon-question-circle:before {
	content: "\e940";
}
.icon-alarm-ringing:before {
	content: "\e941";
}
.icon-cross2:before {
	content: "\e943";
}
.icon-check:before {
	content: "\e944";
}
.icon-plane:before {
	content: "\e929";
}
.icon-bus:before {
	content: "\e92e";
}
.icon-ship:before {
	content: "\e92f";
}
.icon-train:before {
	content: "\e930";
}
.icon-car:before {
	content: "\e931";
}
.icon-clock3:before {
	content: "\e933";
}
.icon-happy:before {
	content: "\e934";
}
.icon-shield-cross:before {
	content: "\e935";
}
.icon-shield-alert:before {
	content: "\e936";
}
.icon-shield:before {
	content: "\e937";
}
.icon-shield-check:before {
	content: "\e938";
}
.icon-cash-dollar:before {
	content: "\e939";
}
.icon-cash-euro:before {
	content: "\e93a";
}
.icon-cash-pound:before {
	content: "\e93b";
}
.icon-cash-yen:before {
	content: "\e93c";
}
.icon-truck:before {
	content: "\e93d";
}
.icon-site-map:before {
	content: "\e93e";
}
.icon-gift:before {
	content: "\e93f";
}
.icon-thumbs-down:before {
	content: "\e926";
}
.icon-thumbs-up:before {
	content: "\e927";
}
.icon-cart-full:before {
	content: "\e928";
}
.icon-paper-plane:before {
	content: "\e92a";
}
.icon-envelope-open:before {
	content: "\e92b";
}
.icon-zipped:before {
	content: "\e92c";
}
.icon-minus:before {
	content: "\e921";
}
.icon-plus:before {
	content: "\e922";
}
.icon-bag2:before {
	content: "\e923";
}
.icon-alarm:before {
	content: "\e900";
}
.icon-arrow-left:before {
	content: "\e901";
}
.icon-arrow-right:before {
	content: "\e902";
}
.icon-calendar-full:before {
	content: "\e903";
}
.icon-cart:before {
	content: "\e904";
}
.icon-chevron-down:before {
	content: "\e905";
}
.icon-chevron-left:before {
	content: "\e906";
}
.icon-chevron-right:before {
	content: "\e907";
}
.icon-chevron-up:before {
	content: "\e908";
}
.icon-cross:before {
	content: "\e909";
}
.icon-earth:before {
	content: "\e90a";
}
.icon-envelope:before {
	content: "\e90b";
}
.icon-eye:before {
	content: "\e90c";
}
.icon-history:before {
	content: "\e90e";
}
.icon-home:before {
	content: "\e90f";
}
.icon-lock:before {
	content: "\e910";
}
.icon-magnifier:before {
	content: "\e911";
}
.icon-map:before {
	content: "\e912";
}
.icon-map-marker:before {
	content: "\e913";
}
.icon-neutral:before {
	content: "\e915";
}
.icon-paperclip:before {
	content: "\e916";
}
.icon-phone:before {
	content: "\e917";
}
.icon-telephone:before {
	content: "\e918";
}
.icon-pushpin:before {
	content: "\e919";
}
.icon-sad:before {
	content: "\e91a";
}
.icon-smile:before {
	content: "\e91b";
}
.icon-star:before {
	content: "\e91c";
}
.icon-store:before {
	content: "\e91d";
}
.icon-trash:before {
	content: "\e91e";
}
.icon-users:before {
	content: "\e920";
}
.icon-heart-full:before {
	content: "\f004";
}
.icon-star-full:before {
	content: "\f005";
}
.icon-spinner2:before {
	content: "\f110";
}
.icon-help-with-circle:before {
	content: "\e94e";
}
.icon-info-with-circle:before {
	content: "\e94f";
}
.icon-skype:before {
	content: "\e942";
}
.icon-facebook:before {
	content: "\e945";
}
.icon-google:before {
	content: "\e946";
}
.icon-instagram:before {
	content: "\e947";
}
.icon-linkedin:before {
	content: "\e948";
}
.icon-pinterest:before {
	content: "\e949";
}
.icon-tumblr:before {
	content: "\e94a";
}
.icon-twitter:before {
	content: "\e94b";
}
.icon-vimeo:before {
	content: "\e94c";
}
.icon-youtube:before {
	content: "\e94d";
}
