// .responsive-image {
// 	height: auto;
// 	max-width: 100%;
// 	outline: medium none;
// 	width: 100%;

// 	img {
// 		display: block;
// 		height: auto;
// 		width: 100%;
// 	}
// }

.image {
	display: block;
	outline: medium none;

	&--inline {
		display: inline-block;
	}

	// &-responsive {
	// 	display: block;
	// 	height: auto;
	// 	max-width: 100%;
	// 	outline: medium none;
	// 	width: 100%;

	// 	img {
	// 		display: block;
	// 		height: auto;
	// 		width: 100%;
	// 	}
	// }

	&--fluid {
		display: block;
		height: auto;
		max-width: 100%;
		outline: medium none;
		width: 100%;

		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
}

figure {
	margin: 0;
}

picture {
	display: inline-block;
	line-height: 0;
	outline: medium none;
}
