.link {
	// align-items: center;
	// align-self: center;
	border-bottom: 1px solid transparent;
	color: inherit;
	display: inline-flex;
	line-height: 1.3;
	text-decoration: none;

	&:hover,
	&.active {
		// border-bottom-color: $primary-text-color;
		color: $secondary-color;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}

	i {
		vertical-align: middle;

		&:before {
			display: block;
		}
	}

	&--white {
		color: $white;

		&.emphasis {
			font-size: 3em;
		}

		&:hover,
		&.active {
			border-bottom-color: $white;
		}
	}

	&--icon {
		align-items: center;
		display: inline-flex;

		.inner-text {
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			display: inline-block;
			line-height: 1.2;
		}

		&:hover {
			text-decoration: none;

			.inner-text {
				border-bottom: 1px solid $white;
			}
		}
	}

	&--after {
		border: medium none;

		.icon-arrow-right {
			transition: transform 0.2s ease-in-out;
		}

		&:hover {
			color: $primary-color;

			.icon-arrow-right {
				transform: translateX(4px);
			}
		}
	}

	&--primary {
		// color: $blue54;
	}

	&--underline {
		text-decoration: underline;
	}

	&--regular {
		position: relative;

		&:after {
			background-color: $black80;
			bottom: 0;
			content: " ";
			height: 1px;
			left: 0;
			position: absolute;
			right: 0;
			transition: all 0.2s ease-in-out;
		}

		&:hover {
			border-color: $black80;
			text-decoration: none;

			&:after {
				left: 5px;
				right: 5px;
			}
		}
	}

	&--unstyled {
		border: medium none;
		text-decoration: none;

		&:hover,
		&.active {
			text-decoration: none;
		}
	}

	/* &--tag {
		// border: 1px solid $black8;
		// color: $black54;
		display: inline-block;
		padding: 4px 8px;
		text-decoration: none;
		transition: all 0.1s ease-in-out;

		&:hover,
		&.active {
			text-decoration: none;
			// border-color: $blue15;
			// color: $blue15;
		}
	}

	&--video {
		display: inline-block;
		color: $white;
		font-size: 3em;
		text-decoration: none;

		i {
			display: block;

			&:before {
				display: block;
			}
		}

		&:hover,
		&.active {
			text-decoration: none;
		}
	} */
}
