.loading {
	position: relative;

	&:before,
	&:after {
		content: " ";
		pointer-events: initial;
		position: absolute;
		z-index: 10;
	}

	&:before {
		background-color: rgba(255, 255, 255, 0.8);
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}

	&:after {
		animation: rotation 0.8s infinite linear;
		color: $primary-color;
		content: "\e92d";
		// content: "\e951";
		// content: "\f110";
		font-family: "icons";
		font-size: 50px;
		left: 50%;
		line-height: 1;
		margin-left: -25px;
		margin-top: -25px;
		top: 50%;
	}
}
