.pagination {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	font-weight: $pagination-font-weight;
	justify-content: center;
	list-style: none;
	margin: 2rem auto 1rem;
	padding: 0;

	a,
	span {
		align-items: center;
		background-color: $secondary-button-color;
		border-radius: $pagination-border-radius;
		border: 1px solid $secondary-button-border-color;
		color: $black80;
		display: inline-flex;
		font-size: $pagination-font-size;
		line-height: $pagination-line-height;
		min-width: 35px;
		padding: 0 0.8rem;
		text-align: center;
	}

	a {
		text-decoration: none;

		&:hover {
			background-color: $secondary-button-color-hover;
			border-color: $secondary-button-border-color-hover;
			color: $white;
			text-decoration: none;
			transition: background-color 0.15s ease-in-out;
		}
	}

	li {
		margin: 0.4rem;
		position: relative;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.active {
		pointer-events: none;

		a,
		span {
			background-color: $secondary-button-color-hover;
			border-color: $secondary-button-border-color-hover;
			color: $white;
		}
	}

	button {
		margin: 0;
	}
}
