.pagination {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;
	margin: 2rem auto 1rem;
	padding: 0;

	a,
	span {
		display: inline-flex;
		align-items: center;
		font-size: 0.9em;
		line-height: 2.4;
		min-width: 35px;
		text-align: center;
		padding: 0 0.8rem;
	}

	a {
		text-decoration: none;

		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}

	i {
		line-height: 1;
		font-size: 0.75em;
	}

	li {
		background-color: $black8;
		position: relative;
		margin: 0.4rem;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $secondary-color;
		}
	}

	.active {
		background-color: $secondary-color;

		&:hover {
			color: $primary-color;
		}
	}

	button {
		margin: 0;
	}
}
