.m {
	&-0 {
		margin: 0px;
	}
	&-1 {
		margin: 0.25rem;
	}
	&-2 {
		margin: 0.5rem;
	}
	&-3 {
		margin: 1rem;
	}
	&-4 {
		margin: 1.5rem;
	}
	&t-a {
		margin-top: auto;
	}
	&t-0 {
		margin-top: 0px;
	}
	&t-1 {
		margin-top: 0.25rem;
	}
	&t-2 {
		margin-top: 0.5rem;
	}
	&t-3 {
		margin-top: 1rem;
	}
	&t-4 {
		margin-top: 1.5rem;
	}
	&t-5 {
		margin-top: 3rem;
	}
	&b-a {
		margin-bottom: auto;
	}
	&b-0 {
		margin-bottom: 0px;
	}
	&b-1 {
		margin-bottom: 0.25rem;
	}
	&b-2 {
		margin-bottom: 0.5rem;
	}
	&b-3 {
		margin-bottom: 1rem;
	}
	&b-4 {
		margin-bottom: 1.5rem;
	}
	&b-5 {
		margin-bottom: 3rem;
	}
	&l-0 {
		margin-left: 0px;
	}
	&l-1 {
		margin-left: 0.25rem;
	}
	&l-2 {
		margin-left: 0.5rem;
	}
	&l-3 {
		margin-left: 1rem;
	}
	&l-4 {
		margin-left: 1.5rem;
	}
	&r-0 {
		margin-right: 0px;
	}
	&r-1 {
		margin-right: 0.25rem;
	}
	&r-2 {
		margin-right: 0.5rem;
	}
	&r-3 {
		margin-right: 1rem;
	}
	&r-4 {
		margin-right: 1.5rem;
	}
	&y-1 {
		margin-bottom: 0.25rem;
		margin-top: 0.25rem;
	}
	&y-2 {
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}
	&y-3 {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	&y-4 {
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
	}
	&y-5 {
		margin-bottom: 3rem;
		margin-top: 3rem;
	}
	&x-1 {
		margin-left: 0.25rem;
		margin-right: 0.25rem;
	}
	&x-2 {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	&x-3 {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	&x-4 {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
	&x-5 {
		margin-left: 3rem;
		margin-right: 3rem;
	}
}

.p {
	&-0 {
		padding: 0px;
	}
	&-1 {
		padding: 0.25rem;
	}
	&-2 {
		padding: 0.5rem;
	}
	&-3 {
		padding: 1rem;
	}
	&-4 {
		padding: 1.5rem;
	}
	&t-0 {
		padding-top: 0px;
	}
	&t-1 {
		padding-top: 0.25rem;
	}
	&t-2 {
		padding-top: 0.5rem;
	}
	&t-3 {
		padding-top: 1rem;
	}
	&t-4 {
		padding-top: 1.5rem;
	}
	&t-5 {
		padding-top: 3rem;
	}
	&b-0 {
		padding-bottom: 0px;
	}
	&b-1 {
		padding-bottom: 0.25rem;
	}
	&b-2 {
		padding-bottom: 0.5rem;
	}
	&b-3 {
		padding-bottom: 1rem;
	}
	&b-4 {
		padding-bottom: 1.5rem;
	}
	&b-5 {
		padding-bottom: 3rem;
	}
	&l-0 {
		padding-left: 0px;
	}
	&l-1 {
		padding-left: 0.25rem;
	}
	&l-2 {
		padding-left: 0.5rem;
	}
	&l-3 {
		padding-left: 1rem;
	}
	&l-4 {
		padding-left: 1.5rem;
	}
	&l-5 {
		padding-left: 3rem;
	}
	&r-0 {
		padding-right: 0px;
	}
	&r-1 {
		padding-right: 0.25rem;
	}
	&r-2 {
		padding-right: 0.5rem;
	}
	&r-3 {
		padding-right: 1rem;
	}
	&r-4 {
		padding-right: 1.5rem;
	}
	&r-5 {
		padding-right: 3rem;
	}
	&y-1 {
		padding-bottom: 0.25rem;
		padding-top: 0.25rem;
	}
	&y-2 {
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
	}
	&y-3 {
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
	&y-4 {
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
	}
	&y-5 {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
	&x-1 {
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}
	&x-2 {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	&x-3 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	&x-4 {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	&x-5 {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
