html {
	height: 100%;
}

body,
html {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $primary-site-background;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 6px;

		&-track {
			background-color: $border-color;
		}

		&-thumb {
			background-color: $primary-color;
			border-radius: 8px;
		}
	}

	* {
		&::selection {
			background-color: $selection-color;
			color: $white;
		}
	}

	&:after {
		background-color: rgba($black00, 0.6);
		bottom: 0;
		content: " ";
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		right: 0;
		top: 0;
		transition: opacity 0.2s ease-in-out;
	}
}

main {
	background-color: $white;
	flex: 1;
	z-index: 1;
}

section {
	display: block;
	padding: $section-paddings 0;
	position: relative;

	& + section:not([class="section--gray"]) {
		padding-top: 0;
	}

	&.section {
		&--hero,
		&--breadcrumbs,
		&--gray {
			& + section {
				padding-top: $section-paddings;
			}
		}
	}
}

.toolbar {
	background-color: $cream;
	padding: 0.6rem 0;
	font-family: "Poppins", sans-serif;
	font-size: 0.875em;

	&-contact,
	&-actions {
		line-height: 1;
	}

	&-actions {
		align-items: center;
		display: inline-flex;
		flex-flow: row wrap;

		.group {
			position: relative;
			margin-left: 0.2rem;
		}

		.selected {
			cursor: pointer;
			display: inline-block;
			min-width: 45px;
			text-align: center;
			text-decoration: underline;

			&:hover {
				color: $secondary-color;
			}
		}

		ul {
			box-shadow: 0 2px 4px rgba($black00, 0.1);
			display: inline-flex;
			flex-direction: column;
			left: 50%;
			list-style: none;
			margin: -6px 0 0 0;
			max-height: 0px;
			opacity: 0;
			overflow: hidden;
			padding: 0;
			position: absolute;
			top: 100%;
			transform: translateX(-50%);
			transition: all 0.15s ease-in;
			visibility: hidden;

			&.show {
				margin-top: 0.5rem;
				opacity: 1;
				visibility: visible;
				z-index: 20;
			}
		}

		li {
			background-color: $white;
			border-bottom: 1px solid $border-color;
			cursor: pointer;
			line-height: 2.2;
			order: 2;
			padding: 0 0.8rem;
			transition: all 0.15s ease-in-out;

			&:hover {
				background-color: lighten($cream, 6%);
				color: $secondary-color;
			}

			&.active {
				display: none;
				order: 1;
			}
		}
	}

	p,
	h1,
	h2,
	h3,
	h4 {
		margin: 0;
	}

	i {
		line-height: normal;
		margin-right: 0.5rem;
	}

	a {
		display: inline-block;
		vertical-align: middle;
	}

	.container {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: $container-max-width;
	padding-left: $container-paddings;
	padding-right: $container-paddings;
	width: 100%;

	&--small {
		max-width: $container-small;
	}

	&--short {
		max-width: $container-short;
	}

	&--medium {
		max-width: $container-medium;
	}

	&--larger {
		max-width: $container-larger;
	}
}

.content {
	&-group {
		margin-bottom: $content-margin-bottom;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&--small {
		max-width: $content-small;
	}

	&--short {
		max-width: $content-short;
	}

	&--medium {
		max-width: $content-medium;
	}

	&--regular {
		max-width: $content-regular;
	}
}

.embed-responsive {
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;

	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&-placeholder {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		&:before {
			color: $white;
			content: "\e950";
			cursor: pointer;
			display: inline-block;
			font-family: "icons";
			font-size: 4rem;
			left: calc(50% - 2rem);
			line-height: 1;
			position: absolute;
			text-shadow: 0px 1px 2px rgba($black00, 0.2);
			top: calc(50% - 2rem);
			transition: 0.1s ease;
		}

		&:hover {
			&:before {
				opacity: 0.85;
			}
		}
	}
}

[class*="-widget"] {
	display: flex;
	margin-bottom: 1rem;

	.label {
		font-size: 1.1em;
		font-weight: 400;
		line-height: 1.6;
		margin-bottom: 0;
		margin-right: 0.5rem;
		min-width: 70px;
	}
}

.maxheight {
	&--small {
		max-height: 200px;
	}

	&--medium {
		max-height: 320px;
	}

	&--regular {
		max-height: 380px;
	}
}

[class*="maxheight"] {
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 4px;

		&-track {
			background-color: $border-color;
		}

		&-thumb {
			background-color: $primary-color;
			border-radius: 8px;
		}
	}
}

// Large screens
@media (min-width: 1600px) {
}

// Desktops
@media (max-width: 1000px) {
}

// Desktops
@media (max-width: 1200px) {
}

// Laptops
@media (max-width: 991px) {
}

// Tablets
@media (max-width: 767px) {
}

// Mobiles
@media (max-width: 659px) {
	section {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;

		&.section {
			&--hero,
			&--breadcrumbs,
			&--gray {
				& + section {
					padding-top: 2.5rem;
				}
			}
		}
	}
}

// Mobiles
@media (max-width: 575px) {
}
