.toast {
	background-color: rgba($success-color, 0.9);
	color: $white;
	opacity: 0;
	padding: 1rem;
	width: 250px;
	text-align: center;
	transform: translateY(-20px);
	transition: all 0.2s ease-in-out;
	visibility: hidden;

	&-danger {
		background-color: rgba($error-color, 0.9);
	}

	&.show {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}

	&.hide {
		opacity: 0;
		transform: translateY(-20px);
		visibility: hidden;
	}
}

.toast-wrap {
	position: fixed;
	z-index: 1100;

	&--top-right {
		right: 0;
		top: 0;

		& .toast {
			margin-bottom: 0.5rem;
		}
	}
	&--bottom-right {
		right: 0;
		bottom: 0;

		& .toast {
			margin-top: 0.5rem;
		}
	}
}

// Tablets
@media (max-width: 767px) {
}

// Mobiles
@media (max-width: 567px) {
}
