body {
	color: $primary-text-color;
	font-family: $site-font-family;
	font-size: $site-font-size;
	font-weight: $site-font-weight;
	line-height: $site-line-height;
}

/* Remove top margins from headings
  By default, <h1>-<h6> all receive top and bottom margins. We nuke the top
  margin for easier control within type scales as it avoids margin collapsing.
  stylelint-disable-next-line selector-list-comma-newline-after */
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin-bottom: $headings-margin-bottom;
	margin-top: 0;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;

	// &.headline--design {
	// 	font-size: 1.857em;
	// }
}

h3 {
	font-size: 1.16em;
}

h4,
h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

/* Reset margins on paragraphs

  Similarly, the top margin on <p>s get reset. However, we also reset the
  bottom margin to use rem units instead of em. */
p {
	margin-top: 0;
	margin-bottom: $paragraphs-margin-bottom;
}

hr {
	border: medium none;
	height: 1px;
	margin: 20px 0;

	&.separator {
		background-color: $separator-color;
	}
}

code {
	font-size: 87.5%;
	color: #559bd1;
	word-break: break-word;
}

code,
kbd,
pre,
samp {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono";
}

sub,
sup {
	font-size: 65%;
	line-height: 0;
	position: relative;
	margin-left: 0.1em;
	vertical-align: baseline;
}

sup {
	top: -0.4em;
}

sub {
	bottom: -0.25em;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

b, strong {
    font-weight: bolder;
}

.mark, mark {
	padding: .2em;
	background-color: #
}

blockquote {
	color: $primary-text-color;
	font-size: 1.1em;
	font-style: italic;
	font-weight: 500;
	line-height: 1.3;
	margin-right: 0;
	margin: 35px;
	padding-left: 35px;
	padding-top: 4px;
	position: relative;

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		content: open-quote;
		font-size: 2em;
	}
}

.has-byline {
	margin-bottom: 5px;
}

.paragraph {
	&--content {
		font-size: 1em;
	}

	&--description {
		font-size: 1.1em;
	}
}

// .slogan {
// 	color: $secondary-color;
// 	font-size: 2.286em;
// 	font-weight: normal;
// 	line-height: 1.2;
// 	padding-left: 38px;
// 	padding-top: 20px;
// 	position: relative;

// 	&:before {
// 		color: $primary-color;
// 		content: "\e919";
// 		font-family: "icomoon";
// 		font-size: 20px;
// 		left: 0;
// 		position: absolute;
// 		top: 0;
// 	}
// }

.disclaimer {
	align-items: center;
	display: flex;
	line-height: 1;

	i {
		font-size: 18px;
		margin-right: 5px;
	}
}

.description {
	font-size: 1.3em;
}

.text {
	&-group {
		font-size: 1.1em;
		display: flex;
		flex-flow: row wrap;
		grid-gap: 1rem;
	}

	&--primary {
		color: $primary-color;
	}

	&--secondary {
		color: $secondary-color;
	}

	&--gray {
		color: $black34;
	}

	&--sky {
		color: $sky;
	}

	&--twitter {
		color: $twitter-color;
	}

	&--facebook {
		color: $facebook-color;
	}

	&--linkedin {
		color: $linkedin-color;
	}

	&--green {
		color: $leaf;
	}

	&--black80 {
		color: $black80;
	}

	&--black34 {
		color: $black34;
	}

	&--alert {
		color: $alert-color;
	}

	&--inform {
		color: $inform-color;
	}

	&--success {
		color: $success-color;
	}

	&--error {
		color: $error-color;
	}

	&--strong {
		font-weight: 600;
	}

	&--thin {
		font-weight: 400;
	}

	&--emphasis {
		font-size: 3em;
		font-weight: 500;
	}

	&-group {
		margin: 25px 0;
	}
}

// Mobiles
@media (max-width: 659px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.2em;
	}

	h4,
	h5 {
		font-size: 1em;
	}
}
